name: GitHubActionRunner

on:
  push:
    branches:
      - Suites
  pull_request:
    branches:
      - Suites

jobs:
  Run-DAI-Test-Configuration:
    name: Run Test Configuration
    runs-on: self-hosted  # adjust to match your runner labels exactly

    strategy:
      max-parallel: 1

    steps:
      - name: Print trigger event
        shell: pwsh
        run: echo "Trigger event: ${{ github.event_name }}. Runner OS: ${{ runner.os }}."

      - name: Run Eggplant DAI Test
        uses: keysight-eggplant/eggplant-github-action@v1.0.16
        with:
          serverURL: "http://localhost:8000/"
          testConfigID: "f66c0e16-090a-4a42-8573-7679f50bd90c"
          clientID: "client:dai:api:integration:bde01020-f928-4f19-b8db-13f8e0aa9a40"
          clientSecret: "9oiyJ0CYdRPoXeWkYXKvoOnfzwGwzMpQ"
