name: Eggplant Runner Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  Run-Test-Configuration-Windows:
    strategy:
      max-parallel: 1
      matrix:
       os: [windows-latest]
    runs-on: ${{ matrix.os }},[self-hosted]
    name: Run Test Configuration Windows
    
    steps:
      - uses: suisei-cn/actions-download-file@v1.0.1
        id: downloadfile  # Remember to give an ID if you need the output filename
        name: Download the file
        with:
          url: "https://assets.eggplantsoftware.com/EggplantDAI/eggplantDAI-25.1.1+1.exe"
          target: ${{runner.temp}}/test/
          
      - run: echo "Trigger event.. ${{ github.event_name }}. Runner OS.. ${{ runner.os }}."
      - name: Eggplant Runner
        uses: keysight-eggplant/eggplant-github-action@v1.0.16

       
        with:
          dryRun: false
          serverURL: "http://127.0.0.1:8000/"
          clientID: "client:dai:api:integration:bde01020-f928-4f19-b8db-13f8e0aa9a40"
          testConfigID: "f66c0e16-090a-4a42-8573-7679f50bd90c" # Test configuration which need to perform execution
          # Alternatively, DAI client secret can be set as repo secret
          # by going to GitHub Settings > Secrets > Actions
          clientSecret: "9oiyJ0CYdRPoXeWkYXKvoOnfzwGwzMpQ"
          testResultPath : "./reportWindows1.xml"
          
          
      - name: "Read file contents"
        uses: andstor/file-reader-action@v1
        with:
          path: "./reportWindows1.xml"
          
          
      - run: echo "Trigger event.. ${{ github.event_name }}. Runner OS.. ${{ runner.os }}."
      - name: Eggplant Runner
        uses: keysight-eggplant/eggplant-github-action@v1.0.16
        
          
        with:
          dryRun: false
          serverURL: "http://localhost:8000/"
          clientID: "client:dai:api:integration:bde01020-f928-4f19-b8db-13f8e0aa9a40"
          testConfigID: "f66c0e16-090a-4a42-8573-7679f50bd90c" # Test configuration which need to perform execution
          # Alternatively, DAI client secret can be set as repo secret
          # by going to GitHub Settings > Secrets > Actions
          clientSecret: "9oiyJ0CYdRPoXeWkYXKvoOnfzwGwzMpQ"
          testResultPath : "./reportWindows2.xml"
          logLevel: INFO
          testEnvironmentTimeout: 30
          pollInterval: 5
          requestTimeout: 30
          requestRetries: 5
          
          
      - name: "Read file contents"
        uses: andstor/file-reader-action@v1
        with:
          path: "./reportWindows2.xml"
