name: Eggplant Runner Build
 
on:

  pull_request:

    branches:

      - main

  push:

    branches:

      - main
 
jobs:

  Run-Test-Configuration:

    strategy:

      max-parallel: 1

    runs-on: self-hosted

    name: Run Test Configuration
 
    steps:

      # Step 1: Simple debug

      - name: Debug trigger & runner OS

        shell: pwsh

        run: |

          Write-Host "Trigger event: $($env:GITHUB_EVENT_NAME)"

          Write-Host "Runner OS: $($env:RUNNER_OS)"

          Write-Host "Runner Temp Dir: $($env:RUNNER_TEMP)"
 
      # Step 2: Eggplant Runner

      - name: Run Eggplant Test

        uses: keysight-eggplant/eggplant-github-action@v1.0.18

        with:

          dryRun: false

          serverURL: "http://localhost:8000/"

          testConfigID: "f66c0e16-090a-4a42-8573-7679f50bd90c"

          clientID: "${{ secrets.DAI_CLIENT_ID }}"

          clientSecret: "${{ secrets.DAI_CLIENT_SECRET }}"

          shell: pwsh

 
